################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExternalIllustrator/Clients/InsignisIllustrationGenerator/bin/Debug/netcoreapp3.0
/ExternalIllustrator/ExternalIllustrator/.vs/ExternalIllustrator
