@model List<IllustrationListViewModel>
@{
    ViewData["Title"] = "IllustrationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IllustrationList</h1>

<div class="middle-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="right"><input type="submit" href="#" id="GenerateCSV" class="btn btn-primary" value="Generate CSV" /></div>
            </div>
            <div class="col-lg-12 col-sm-12">
                <div class="illustration-generator">

                    <h4 class="heading-1">Search By:</h4>
                    <span id="validationError" class="text-danger"></span>
                    <div class="gray-bg">
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label for="inputEmail4">Advisor Name</label>
                                <input type="text" class="form-control" id="AdvisorName" name="AdvisorName" placeholder="Advisor Name">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputPassword4">Client Name</label>
                                <input type="text" class="form-control" id="ClientName" name="ClientName" placeholder="Client Name">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputPassword4">Company Name</label>
                                <input type="text" class="form-control" id="CompanyName" name="CompanyName" placeholder="Company Name">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputPassword4">Illustration Unique Reference</label>
                                <input type="text" class="form-control" name="IllustrationUniqueReference" id="IllustrationUniqueReference" placeholder="Illustration Unique Reference">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputPassword4">From Date</label>
                                <input type="date" class="form-control" name="IllustrationFrom" id="IllustrationFrom" placeholder="dd-mm-yyyy">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputPassword4">To Date</label>
                                <input type="date" class="form-control" name="IllustrationTo" id="IllustrationTo" placeholder="dd-mm-yyyy">
                            </div>
                        </div>

                        <div class="col-lg-12 center">
                            <input id="btnSearch" type="button" class="btn btn-primary" value="Search" />
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="clear1"></div>
        @Html.Partial("_IllustrationList", Model)
    </div>

</div>
<script>
    $(document).ready(function () { LoadData(); })
    $(document).on("click", "#bankDetailRow", function () {
        var illustrationUniqueReference = $(this).closest('tr').find('#item_IllustrationUniqueReference').val();

        window.location = "/SuperUser/GetIllustration?uniqueReferenceId=" + illustrationUniqueReference;
    });
    $(document).on("click", "#GenerateCSV", function () {

        $.ajax({
            url: "../../SuperUser/ExportCSV",
            type: "POST",
            data: {
                AdvisorName: $("#AdvisorName").val(),
                ClientName: $("#ClientName").val(),
                CompanyName: $("#CompanyName").val(),
                IllustrationUniqueReference: $("#IllustrationUniqueReference").val(),
                IllustrationFrom: $("#IllustrationFrom").val(),
                IllustrationTo: $("#IllustrationTo").val()
            },

            success: function (response, textStatus, jqXHR) {
                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + response.data);
                element.setAttribute('download', response.fileName);

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);

            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    });


    $(document).on("click", "#btnSearch", function () {
        LoadData();
    });

    var LoadData = function () {
        $.ajax({
            url: "../../Home/SearchIllustration",
            type: "POST",
            data: {
                AdvisorName: $("#AdvisorName").val(),
                ClientName: $("#ClientName").val(),
                CompanyName: $("#CompanyName").val(),
                IllustrationUniqueReference: $("#IllustrationUniqueReference").val(),
                IllustrationFrom: $("#IllustrationFrom").val(),
                IllustrationTo: $("#IllustrationTo").val()
            },

            success: function (response, textStatus, jqXHR) {
                debugger;
                $('#dvIllustration').html("");
                var tbl = '<table id="illustrationListTable" class="table table-striped table-bordered table-responsive-sm illustrationListTable">';
                tbl += '<thead class="thead-dark">';
                tbl += '     <tr class="d-flex">';
                tbl += '         <th class="col-2">Advisor Name</th>';
                tbl += '         <th class="col-2">Client Name</th>';
                tbl += '         <th class="col-2">Company Name</th>';
                tbl += '         <th class="col-3">Illustration Unique Reference</th>';
                tbl += '         <th class="col-2">Generation Date</th>';
                tbl += '         <th class="col-1">Status</th>';
                tbl += '      </tr>';
                tbl += '  </thead><tbody id="tblbody"></tbody></table>';
                $('#dvIllustration').html(tbl);
                if (response.success === false) {
                    $("#validationError").text(response.data);
                    // $('#tblbody').append('<tr><td>'+response.data+'</td>');
                }
                else {
                    $.each(response.data, function () {
                        $("#tblbody").append('<tr class="d-flex" id="bankDetailRow"    ><td class="col-2">' + this.adviserName + '</td><td class="col-2">' + this.clientName + '</td><td class="col-2">' + this.partnerOrganisation + '</td><td class="col-3">' + this.illustrationUniqueReference + '<input type="hidden" id="item_IllustrationUniqueReference" value="' + this.illustrationUniqueReference + '"/></td><td class="col-2">' + this.generateDate + '</td><td class="col-1">' + this.status + '</td></tr>');
                    });
                    //var data = response.data;
                    //for (var i = 0; i < data.length; i++) {
                    //    $('#illustrationListTable tr:last').after('<tr class="d-flex" id="bankDetailRow" onclick="RedirectIllustrationDetail()"  ><td class="col-2">' + data[i].adviserName + '</td><td class="col-2">' + data[i].clientName + '</td><td class="col-2">' + data[i].partnerOrganisation + '</td><td class="col-3">' + data[i].illustrationUniqueReference + '<input type="hidden" id="item_IllustrationUniqueReference" value="' + data[i].illustrationUniqueReference + '"/></td><td class="col-2">' + data[i].generateDate + '</td><td class="col-1">' + data[i].status + '</td></tr>');
                    //}

                }
                $('.illustrationListTable').DataTable({
                    //  "dom": '<"top"i>rt<"bottom"flp><"clear">', //for using a search in buttom
                    // "scrollY": "400px",
                    "scrollX": true,
                    "scrollCollapse": false,
                    "paging": true,
                    "searching": false
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }

</script>
