.og-fixed-table-head-tr {
    height: 187px !important;
    max-height: 187px !important;
    width: 56px !important;
    max-width: 56px !important;
    overflow: hidden;
}

.og-fixed-table-head-first-th {
    height: 28px !important;
    max-height: 28px !important;
    width: 170px !important;
    max-width: 170px !important;
    overflow: hidden;
    white-space: nowrap !important;
    padding: 0px !important;
    margin: 0px !important;
    vertical-align: middle;
    text-align: left;
    padding-left:4px;
}

.og-fixed-table-head-th {
    height: 55px !important;
    max-height: 55px !important;
    width: 56px !important;
    max-width: 56px !important;
    overflow: hidden;
    padding: 0px !important;
    margin: 0px !important;
    vertical-align: middle;
    text-align: left;
}

.og-fixed-table-body-tr {
    height: 29px !important;
    max-height: 29px !important;
}

.og-fixed-table-body-td {
    overflow: hidden;
    white-space: nowrap !important;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    width: 56px !important;
    max-width: 56px !important;
}

p.og-fixed-table-head-rotated {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    margin: 0px;
    padding: 0px;
    width: 177px !important;
    max-width: 177px !important;
    height: 40px !important;
    max-height: 40px !important;
    overflow: hidden !important;
    margin-top: -10px;
    margin-left: -50px;
}
