<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.Presentation" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net461" />
  <package id="Spire.PDF" version="6.1.8" targetFramework="net461" />
  <package id="Syncfusion.Compression.Net.Core" version="17.4.0.44" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.4.0.44" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Net.Core" version="17.4.0.44" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net461" />
</packages>